<!DOCTYPE html>
<html>
<head>
  <title>게시물 상세 페이지</title>
  <!-- 필요한 스타일과 스크립트 추가 -->
  <script src="/socket.io/socket.io.js"></script>
  <script>
    function createChatRoom(articleId, userId) {
  fetch('/chat/create', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
    },
    body: JSON.stringify({ articleId, userId }),
  })
    .then(response => {
      if (response.ok) {
        return response.json();
      } else {
        throw new Error('채팅방 생성 요청 실패');
      }
    })
    .then(data => {
      if (data.error) {
        console.error('채팅방 생성 실패:', data.error);
        alert('채팅방 생성 중 오류가 발생했습니다.');
      } else {
        const chatRoomId = data.chatRoomId;
        // 채팅방이 성공적으로 생성되면 해당 채팅방으로 이동
        window.location.href = `/chat/${chatRoomId}`;
      }
    })
    .catch(error => {
      console.error('채팅방 생성 요청 실패:', error);
      alert('채팅방 생성 중 오류가 발생했습니다.');
    });
}
  </script>
</head>
<body>
  <h1><%= article.title %></h1>
  <p>작성자: <%= article.author_name %></p>
  <p>작성일: <%= article.created_at.toLocaleDateString() %></p>
  <p>가격: <%= article.price %></p>
  <p>좌석: <%= article.seat_info %></p>
  <p>경기 일정: <%= article.game_date %></p>
  <p><%= article.content %></p>
  <button onclick="createChatRoom('<%= article.id %>', '<%= article.author.id %>')">작성자에게 채팅 보내기</button>
</body>
</html>